/*------------------------------------*\
    #TYPE
\*------------------------------------*/





.h1 {
    color: $foreground-colour;
    @include font-size(36px);
    @include line-height(46px);
    font-family: $opensans;
    font-weight: bold;
    letter-spacing: 3px;

    @include responsive($big-break) {
        @include font-size(25px);
        @include line-height(35px);
    }
}

    .h1__highlight {
        font-weight: bold;
        background: rgba(66, 187, 171, 0.3);
        padding: 0 10px;
    }

.h4 {
    font-family: $pt-serif;
    @include font-size(15px);
    @include line-height(26px);
}

.h5 {
    font-family: $pt-serif;
    @include font-size(13px);
    @include line-height(23px);
}

.caps {
    text-transform: uppercase;
}


.title {
    padding-top: 16px;
    letter-spacing: 2px;
    font-family: $opensans;
    @include font-size(12px);
    @include line-height(28px);

    .underline {
        padding-bottom: 3px;
    }

}

    .title--margin-btm {
        margin-bottom: 20px;
    }

    .title--no-padding {
        padding: 0;
    }

p {
    font-size:em($base-font-size);
    margin-bottom: 18px;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    //letter-spacing: tracking(80);
    //font-style: normal;
}